<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791558071547-0luou1lh2is686saq00jp6a83i0ntvu0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791558071547-0luou1lh2is686saq00jp6a83i0ntvu0</string>
	<key>API_KEY</key>
	<string>AIzaSyB5GN9GAWVdg-u0MWYLdE5Kb2azSQnIGbc</string>
	<key>GCM_SENDER_ID</key>
	<string>791558071547</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oliver.interactive3d</string>
	<key>PROJECT_ID</key>
	<string>interactive3d-25d90</string>
	<key>STORAGE_BUCKET</key>
	<string>interactive3d-25d90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791558071547:ios:25d4ec3bd5ce54717b7c5e</string>
	<key>DATABASE_URL</key>
	<string>https://interactive3d-25d90.firebaseio.com</string>
</dict>
</plist>